:root {
  --background: #000000;
  --bg-header: #058ED9;
  --bg-menu: #FFBC0A;
  --bg-menu-hover: #e28800;
  --bg-footer: #058ED9;
  --bg-blockContent: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--background));
}

a {
  color: inherit;
  text-decoration: none;
}