.container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--bg-blockContent);
    border-radius: 1.25rem;
}

.title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.product {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
}