.container {
    margin-top: 6.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    gap: 8px;
    border-bottom: 1px solid silver;
    box-shadow: 1px -1px 5px;
}

.btnMobile {
    display: none;
    padding: 10px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger {
    width: 20px;
    border-top: 2px solid black;
}

.hamburger::after,
.hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background-color: currentColor;
    transition: .3s;
    position: relative;
}

.container.active .hamburger {
    border-top-color: transparent;
}

.container.active .hamburger::after {
    transform: rotate(-135deg);
}

.container.active .hamburger::before {
    transform: rotate(135deg);
}

ul.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

ul.menu li {
    height: 40px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

ul.menu li:hover {
    font-weight: bold;
    color: var(--text-link);
}


/* Mobile */
@media (max-width: 700px) {
    .container {
        margin-top: 6.25rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .btnMobile {
        display: flex;
    }

    ul.menu {
        position: relative;
        top: 0px;
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

}