.container {
    width: 100%;
    height: calc(100vh - 10.37rem);
    padding: 0.5rem;
    background-color: var(--bg-blockContent);
}

.title {
    width: 100%;
    text-align: left;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
}